/* Projects Section
.projects {
  text-align: center;
  padding: 80px 20px;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.project-card {
  background: white;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  font-size: 1.5rem;
}

.project-card p {
  color: #777;
}

.project-card a {
  color: #007bff;
  display: block;
  margin-top: 10px;
} */

.Project-section {
      height: 100vh;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    .Peoject-section-inner-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .Skills-section {
      box-shadow: 0 4px 8px #0000001a,0 2px 4px #0000000f;
      padding: 30px;
      width: 40%;
      border-radius: 12px;
    }
    .progress-container {
      width: 400px;
      margin-top: 25px;
    }
    
    progress {
      width: 400px;
      height: 20px;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 15px;
    }
    
    progress::-webkit-progress-bar {
      background-color: #ddd;
      border-radius: 10px;
    }
    
    progress::-webkit-progress-value {
      background-color: #4caf50;
      color: black;
      border-radius: 10px;
    }
    
    progress::-moz-progress-bar {
      background-color: #4caf50;
      border-radius: 10px;
    } 
    .Certificates-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 40px;
      align-items: center;
      height: 100%;
      padding: 25px;
      border-radius: 12px;
      box-shadow: 0 4px 8px #0000001a,0 2px 4px #0000000f;
    }
    .Project-inner-container-heading {
      text-align: left;
      margin-right: auto;
      font-size: 2rem;
      font-family: 'Roboto';
    }
    .certificates-list {
      list-style-type: square;
      margin-left: 25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }