
.about-Section {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 5px solid red; */
}
.about-section-inner-container {
  width: 80%;
}
.about-section-heading {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: bold;
  color: #1BAE70;
}
.about-section-description {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 35px;
  font-family: "'Menlo', 'Monaco', 'Courier New', monospace";
}
.about-section-paragrpah {
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 30px;
}
.about-section-experience-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 50px;
  gap: 40px;
}
.Expereince-container-heading {
  font-size: 2.2rem;
  color: #1BAE70;
  font-family: "'Menlo', 'Monaco', 'Courier New', monospace";
}


@media (max-width: 1024px) { /* Tablets */
  .about-section-description {
    font-size: 2rem;
  }

  .about-section-paragraph {
    font-size: 1.1rem;
  }

  .Expereince-container-heading {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) { /* Mobile */
  .about-Section {
    padding: 40px 3%;
    /* border: 2px solid red; */
  }

  .about-section-description {
    font-size: 1.7rem;
  }

  .about-section-paragraph {
    font-size: 1rem;
  }

  .about-section-experience-container {
    flex-direction: column;
  }

  .Expereince-container-heading {
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) { /* Small Mobile */
  .about-section-description {
    font-size: 1.6rem;
  }

  .about-section-paragraph {
    font-size: 0.95rem;
  }

  .Expereince-container-heading {
    font-size: 1.2rem;
  }
}