.nav-bar-section {
  background-color: #f4f6f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}

.navbar-logo-section {
  width: 200px;
  height: 100px;
  background-image: url("/HeaderSectionPhotos/YashwanthLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  padding: 0px;
  margin-right: auto;
  width: 60%;
}

.nav-list-items {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0px;
  padding: 0;
  margin-bottom: 28px;
}

.nav-list-item {
  font-size: 17px;
  font-family: sans-serif;
  text-decoration: none;
  color: #14261C;
  font-weight: 400;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
}

.nav-list-item:hover {
  color: #007bff;
}

